Source: ds2plusplus
Section: libraries
Priority: extra
Maintainer: Alex Zepeda <alex@inferiorhumanorgans.com>
Build-Depends:
  debhelper (>= 9),
  qt5-qmake,
  libqt5serialport5-dev,
  qtbase5-dev,
  qtbase5-dev-tools
Standards-Version: 3.9.6
Homepage: https://github.com/inferiorhumanorgans/DS2PlusPlus

Package: libds2plusplus
Architecture: any
Depends:
  libqt5core5a,
  libqt5serialport5,
  libqt5sql5,
  ${misc:Depends},
  ${shlibs:Depends}
Description: DS2PlusPlus is a library designed to interface with early 2000s BMWs over a serial port.
