Source: ds2plusplus
Section: libraries
Priority: optional
Maintainer: Alex Zepeda <alex@inferiorhumanorgans.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, qt5-qmake, libqt5serialport5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/inferiorhumanorgans/DS2PlusPlus

Package: ds2plusplus
Architecture: any
Depends: libqt5sql5, libqt5serialport5, libqt5core5a, ${misc:Depends}, ${shlibs:Depends}
Description: DS2PlusPlus is a library designed to interface with early 2000s BMWs over a serial port.
