#!/usr/bin/make -f
export QT_SELECT := qt5
export DH_ALWAYS_EXCLUDE=tests:libjsoncpp.a:changelog.Debian.gz
export DH_VERBOSE=1

override_dh_auto_build:
	dh_auto_build
	mkdir tmp
	LD_LIBRARY_PATH=$(shell pwd)/libds2/ $(shell pwd)/ds2-dump/ds2-dump --load --dpp-source-dir=./dpp-json --dpp-dir=./tmp

override_dh_shlibdeps:
	dh_shlibdeps -l$(shell pwd)/libds2

%:
	dh $@ 
